* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #1b5578;
}

.site-header {
    background-color: #85cef8;
    color: white;
    padding: 1px 1px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo  {
    
    width: 150px;
    height: 150px;
}


.carro {
    width: 80px;
    height: 80px;
}
.gela {
    
    margin: 3px;
    float: right;
    width: 50%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    transform: translateX(-20%); 
}

.gela{
    width: 50%; 
    max-width: 450px; 
    height: auto; 
    border-radius: 10px;
    margin-left: -15px;
}
.letra{
display: flex;
margin: 40px;
max-width: 550px;

}
